:root {
    --aside-width: 109.781px;
}

:root.dark {
    --body-background-color: #3f3f3f;
    --primary-background-color: #222;
    --basic-button-background-color: #6f6f6f;
    --darker-border-color: #0f0f0f;
    --border-color: gray;
    --primary-font-color: white;
    --selected-section-background-color: 255, 255, 255;
    --svg-color: #acacac;
}

:root.light {
    --body-background-color: #f3f3f3;
    --primary-background-color: #dfdfdf;
    --basic-button-background-color: #b8b8b8;
    --darker-border-color: black;
    --border-color: #222;
    --primary-font-color: black;
    --selected-section-background-color: 100, 100, 100;
    --svg-color: #909090;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

body {
    background-color: var(--body-background-color);
    color: var(--primary-font-color);
}

body>.wrraper {
    display: flex;
    height: 90%;
}

body>.wrraper aside {
    border-right: 2px black solid;
    transition: all .5s;
    overflow: hidden;
    min-width: var(--aside-width);
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body>.wrraper aside ul {
    list-style: none;
    padding: 0 12px 0 10px;
}

body>.wrraper aside ul>li {
    padding: 2.5px 0 2.5px 2px;
}

body>.wrraper aside ul>li[aria-selected='true'] {
    background-color: rgba(var(--selected-section-background-color), 0.3);
    border-radius: 5px;
}

body>.wrraper aside ul>li>span.section-drawings-counter:not(.hidden) {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-color: gold;
    font-weight: bold;
    text-align: center;
    border-radius: 999px;
}

body>.wrraper aside button,
body>.wrraper main button:has(svg),
div[popover] button:not(.normal),
header button:not(.normal) {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    padding: 0;
}

body>.wrraper main button:has(svg) {
    height: 17.9px;
}

body>.wrraper aside>div[data-config-btn-parent] {
    font-size: 12px;
    margin-bottom: 4px;
    place-items: center;
}

#drawing-related-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#change-drawings-ordering-modal:popover-open {
    display: block;
    box-shadow: black 5px 5px 10px 2px;
}

#change-drawings-ordering-modal:popover-open button {
    box-shadow: black 2px 2px 2px 0px;
    background-color: var(--basic-button-background-color);
    border: 1px black solid;
    border-radius: 3px;
    color: var(--primary-font-color);
}

#change-drawings-ordering-modal:popover-open button:active {
    box-shadow: inset black -1px -1px 4px 0px;
    position: relative;
    top: 1px;
    left: 1px;
}

button {
    cursor: pointer;
}

#delete-all-drawings {
    all: revert;
    border-radius: 7px;
}

#config-menu:not(.hidden) {
    display: flex;
    flex-direction: column;
}

.configuration-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.configuration-block input[type="checkbox"] {
    width: 15px;
}

.configuration-block .name {
    font-weight: bold;
    font-size: 15px;
}

.configuration-block .description {
    font-size: 12px;
}

.dangerous {
    color: red !important;
    background-color: #ffacac !important;
}

.modal {
    position: absolute;
    z-index: 100;
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    padding: 14px;
    border-radius: 7px;
    border: none;
    box-shadow: black 0 0 20px 3px;
}

main {
    flex-grow: 1;
    overflow: scroll;
    transition: filter .3s;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 7px;
    border-bottom: 1px var(--border-color) solid;
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}
/* 
header * {
    font-size: 14px;
    } */
    
    header form {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 7px;
    }
    
    header form input {
        width: 100%;
    }
    
    header .entity {
        line-height: 0.8;
        font-size: 52px;
    }
    
    header #change-drawings-ordering-btn {
        border: 1px black solid;
        border-radius: 999px;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 0.1rem 0.45rem;
        color: var(--primary-font-color);
    }
    
    #new-drawing {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background-color: var(--primary-background-color);
        height: 48px;
        width: 48px;
        padding: 8px;
        border-radius: 100%;
        color: var(--primary-font-color);
        text-align: center;
        font-size: 28px;
    }
    
    #drawings {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 100%;
        padding-top: 7px;
    }
    
    #drawings>.drawing {
        width: 40%;
        height: max-content;
        border: 3px var(--darker-border-color) solid;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
    }

    #drawings>.drawing>a>img {
        border-radius: 6px 6px 0 0;
        max-height: 73px;
    }
    
    .png {
        background-image: url("../images/PNG_background.png");
        background-repeat: repeat;
        background-size: 10px;
    }
    
    .jpeg {
        background-color: white;
    }
    
    .info {
        display: flex;
        justify-content: space-between;
    }
    
    .info .options {
        display: flex;
        width: max-content;
    }
    
    svg {
        color: var(--svg-color);
    }
    
    .hidden {
        display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

div[popover] {
    background-color: var(--primary-background-color);
    border: none;
    color: var(--primary-font-color);
    border-radius: 4px;
}

div[popover]:popover-open {
    display: flex;
    flex-direction: column;
    gap: 7px;
    box-shadow: black 0 0 20px 2px;
}

@media screen and (max-width: 400px) {
    body>.wrraper aside {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        height: 90%;
    }
}

@media screen and (max-width: 475px) {
    #change-drawings-ordering-btn {
        display: none;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --body-background-color: #3f3f3f;
        --primary-background-color: #222;
        --basic-button-background-color: #6f6f6f;
        --darker-border-color: #0f0f0f;
        --border-color: gray;
        --primary-font-color: white;
        --selected-section-background-color: 255, 255, 255;
        --svg-color: #acacac;
    }
}

@media screen and (prefers-color-scheme: light) {
    :root {
        --body-background-color: #f3f3f3;
        --primary-background-color: #dfdfdf;
        --basic-button-background-color: #b8b8b8;
        --darker-border-color: black;
        --border-color: #222;
        --primary-font-color: black;
        --selected-section-background-color: 100, 100, 100;
        --svg-color: #909090;
    }
}
